#pizza-order {
  text-align: center;
  margin: 15px;
  background-color: #fff1dbb5;
  padding: 20px;
}

body {
  background-color: #fc8e74;
}

.container {
  margin-top: 100px;
  text-align: center;
  width: 50%;
  float: left;
  padding: 20px;
}

h1 {
  font-weight: 800;
  text-align: center;
}

h2 {
  font-weight: 800;
}

p {
  font-weight: 300;
}

#intro {
  padding: 10px;
  font-weight: 350;
}

.floating {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

